<!-- Page Content -->
<div class="container">

	<div class="row">

		<div class="col-lg-12">
			<h1 class="page-header">Near by Fuel Stations</h1>
			<ol class="breadcrumb">
				<li><a href="../index.html">Home</a></li>
				<li class="active">Map</li>
			</ol>
		</div>

		<div class="col-lg-12" >
		<div id="map"></div>
			
			<map center="{{center}}" zoom="11"
				style="display: block; width: auto; height: auto;">
				<marker ng-repeat="pin in markerss"
					position="{{pin.geometry.location.lat()}},{{pin.geometry.location.lng()}}" title="{{pin.title}}" icon="images/marker.png"
					on-click="showDetail(pin)"></marker>
			</map>
			
		</div>
	</div>
	<br>
	
	<div class="row" ng-show="showInfo" id="bottom">
	
	<div class="col-md-12" >
	      <div class="panel panel-success">
    <div class="panel-heading">{{currentPin.name}}</div>
    <div class="panel-body">
    <strong>Name : </strong>{{currentPin.name}}<br>
    <strong>Address : </strong><p>{{currentPin.formatted_address}}</p>
    
    <strong>Phone No : </strong><a href="tel:{{formatted_phone_number}}">{{currentPin.formatted_phone_number}}</a><br>
    <strong>Rating : </strong> {{currentPin.rating}}/5<br>
    
    <strong>Status : </strong><label ng-show="currentPin.opening_hours.open_now" style="color: green;">Open Now</label><label ng-show="!currentPin.opening_hours.open_now" style="color: red;">Closed Now</label><br>
    <strong>Timings : </strong> <br><p ng-repeat="time in currentPin.opening_hours.weekday_text">&nbsp;&nbsp;&nbsp;&nbsp;{{time}}</p><br>
    
    <!-- <strong>Place Id : </strong>{{currentPin.place_id}}<br> -->
    <a class="btn btn-info form-control" href="http://maps.google.com/maps?daddr={{currentPin.geometry.location.lat()}},{{currentPin.geometry.location.lng()}}"> Get Directions</a>
    <strong>Reviews</strong><br>
    <div class="well" ng-repeat="review in currentPin.reviews">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-2"> <img src="{{review.profile_photo_url}}" class="img-rounded user-profile-img"> </div>
    <div class="col-md-10"> <label>{{review.author_name}}</label><br>
    <p>{{review.text}}</p>
    <strong> Rating </strong> {{review.rating}} /5<br>
    <p>{{review.relative_time_description}}</p>
    </div>
    
    </div>
    </div>
    </div>
    
    </div>
    </div>
    
	
	
	</div>
	
	</div>

</div>
<!-- /.row -->


