<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Logs
                <small>Fueling Logs</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Logs</li>
            </ol>
        </div>

    </div>
    
	<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	<div class="well" ng-repeat="log in logDetails">
	
	<strong>Date :</strong> {{log.logDate}}<br>
	<strong>Station name :</strong> {{log.station_name}}<br>
	<strong>Amount :</strong> {{log.amount}}<br>
	<strong>Liters :</strong> {{log.liters}}<br>
	<strong>Comments :</strong> {{log.comments}}<br>
	
	
	</div>
	
	</div>
	<div class="col-md-3"></div>
	</div>


</div>
<!-- /.container -->