<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Logs
                <small>Fueling Logs</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">Logs</li>
            </ol>
        </div>

    </div>
    
	<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	{{getLogs()}}
	<div class="well" ng-repeat="log in getLogs()">
	
	<strong>Date :</strong> {{log.name}}<br>
	
	</div>
	
	</div>
	<div class="col-md-3"></div>
	</div>


</div>
<!-- /.container -->